* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* TYPOGRAPHY */

@font-face {
    font-family: icons-social;
    src: url(../fonts/fa-brands-400.ttf);
}

@font-face {
    font-family: symbols;
    src: url(../fonts/fa-solid-900.ttf)
}

@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: eurofurence;
    src: url(../fonts/eurofurence.ttf);
}


/* BASIC */

html {
    font-family: Lato-Regular;
    line-height: 1.25;
    color: #606060;
}

body {
    /* margin: 0 auto; */
    font-size: 1rem;
}

img {
    width: 100%;
}

h2 {
    font-family: Lato-Bold;
    font-size: 1.75rem;
    font-weight: 400;
    margin-bottom: 1.8571em;
    color: #4F4E4E;
}

ul {
    list-style: none;
}

.main-container {
    max-width: 980px;
    margin: 0 auto;
}

p {
    margin-bottom: 27px;
    line-height: 1.25rem;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}


/* LAYOUT */

header {
    box-shadow: inset -0px -6px 0;
    background-color: #292929;
    margin-bottom: 78px;
}

.header-container {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
}

.header-container ul {
    max-width: 528px;
}

.nav-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lato-Bold, sans-serif;
}

main {
    border-right: #E1E0E0 solid 0.3px;
    border-left: #E1E0E0 solid 0.3px;
}

.clear-ul {
    display: flex;
}

.selected {
    color: #58C93A;
    box-shadow: inset 0px -6px 0 #58C93A;
}

.nav-container a:hover {
    color: #58C93A;
    box-shadow: inset 0px -6px 0 #58C93A;
}

.logo {
    font-size: 2.5rem;
    font-family: eurofurence;
}

.logo span {
    color: #58C93A;
}

.journal-ul {
    position: absolute;
    background-color: #292929;
    height: 0;
    color: white;
    transition: height 0.5s;
    overflow: hidden;
    z-index: 9;
}

.journal-ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.125rem;
}

.card {
    margin-bottom: 78px;
    display: flex;
    max-width: 959px;
    /* position: relative; */
}

.card .card-contant {
    flex-basis: 50%;
}

.card button {
    /* position: absolute; */
    bottom: 0;
    width: 186px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 3em;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C2C2C2;
    border: #C2C2C2 0.5px solid;
    transition: border 0.3s height width;
    font-size: 1rem;
}

.card button:hover {
    border: #58C93A 2px solid;
    color: #58C93A;
    padding: 0x 15px;
    font-size: 1.1rem;
    width: 196px;
    cursor: pointer;
}

.card button:hover::after {
    font-family: symbols;
    content: ' \f30b';
    font-size: 1.1rem;
}

.pagenation {
    display: flex;
    justify-content: space-between;
    border-top: #E1E0E0 0.5px solid;
}

.pagenation>* {
    padding: 29px;
}

footer {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>*:nth-child(1) {
    padding: 71px 0 25px 0;
}

footer>*:nth-child(2) {
    padding-bottom: 38px;
}

footer>*:nth-child(3) {
    width: 230px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

footer .logo {
    color: #292929;
}

.social-network>* {
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    font-family: icons-social;
}

.social-network>*:hover {
    background-color: #516FAD;
}

.facebook::before {
    content: '\f39e';
}

.twiter::before {
    content: '\f099';
}

.be::before {
    content: '\f1b4';
}

.ball::before {
    content: '\f17d';
}

.shadow-lock-screen,
.shadow-lock-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.603);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity .6s;
}

body.manu-open .shadow-lock-screen {
    opacity: 1;
    pointer-events: auto;
}

body.open-modal .shadow-lock-modal {
    opacity: 1;
    pointer-events: auto;
}

small {
    text-align: center;
}

.journal-ul a {
    padding: 10px;
}

.modal-sign-up {
    position: fixed;
    width: 70vw;
    height: fit-content;
    background-color: #477c39;
    color: aliceblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: none;
    z-index: 3;
    transition: display 0.3s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-sign-up>* {
    padding-left: 20px;
    padding-right: 20px;
}

form button {
    width: 200px;
    height: 40px;
    background-color: white;
    font-family: Lato-Bold;
    font-size: 1.2rem;
    border-radius: 50px 0 50px 0;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    transition: background-color 0.4s, font-size 0.3s;
}

form button:hover {
    background-color: rgb(150, 245, 106);
    font-size: 1.4rem;
}

.modal-sign-up h2 {
    font-family: Lato-Bold;
    font-size: 2rem;
    color: aliceblue;
    padding-top: 20px;
}

.modal-sign-up p {
    /* padding: 5px 20px; */
    font-size: 1.2rem;
}

.mail {
    font-family: Lato-bold;
    font-size: 1.2rem;
    /* padding: 20px; */
}

input {
    border-radius: 10px;
    height: 30px;
    width: 200px;
    font-family: Lato-regular;
    display: block;
    margin: 10px auto;
}

.close::before {
    font-family: symbols;
    content: '\f057';
    font-size: 2rem;
    position: absolute;
    top: 7px;
    right: 10px;
}


/* -------------------------------------------------------------------------------- */

body.open-modal .modal-sign-up {
    display: flex;
}


/* mobile */

@media (max-width:740px) {
    .card {
        display: block;
        padding-inline-end: 30px;
        padding-inline-start: 30px;
    }
    .nav-container {
        position: fixed;
        top: 0;
        right: 0;
        background-color: #292929;
        flex-direction: column;
        width: 250px;
        height: 100%;
        z-index: 2;
        transform: translateX(100%);
        transition: transform .8s, box-shadow .9s;
    }
    body.manu-open .nav-container {
        transform: translateX(0%);
    }
    .nav-container>li>a {
        width: 100%;
        height: 6.125rem;
    }
    .journal-ul {
        width: 100%;
    }
    .nav-container>*:first-child:hover .journal-ul {
        height: 100%;
    }
    .header-container {
        height: 100px;
    }
    .nav-bar-btn {
        display: block;
        width: 50px;
        height: 50px;
        font-size: 2rem;
        margin-inline-end: 20px;
    }
    .nav-bar-btn::before {
        font-family: symbols;
        content: '\f0c9';
    }
    .container-mobile {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .logo {
        margin-inline-start: 20px;
    }
}

@media (min-width:740px) {
    .modal-sign-up {
        width: 600px;
        /* height: 80vh; */
    }
    .card {
        display: block;
        padding-inline-end: 30px;
        padding-inline-start: 30px;
    }
    .nav-container {
        display: flex;
    }
    .nav-container>li>a {
        width: 8.125rem;
        height: 8.125rem;
    }
    .journal-ul {
        width: 8.125rem;
    }
    .nav-container>*:first-child:hover .journal-ul {
        height: 12.5rem;
    }
    .nav-bar-btn {
        display: none;
    }
}

@media (min-width:850px) {
    .card {
        display: flex;
    }
    .card img {
        flex-basis: 50%;
        margin-inline-end: 40px;
    }
    .main-container {
        max-width: 820px;
    }
    .card img {
        object-fit: cover;
    }
}

@media (min-width:1100px) {
    .main-container {
        max-width: 980px;
    }
    .card img {
        object-fit: unset;
    }
}